#loginBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 400px;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: gray; */
}

#loginTitle {
  font-size: 50px;
}

.EmailBox,
.PwBox {
  width: 380px;
  height: 47px;
  margin-bottom: 10px;
  border: hidden;
  border-bottom-style: solid;
  border-bottom-color: gray;
  border-bottom-width: 2px;
  font-size: 15px;
}

.loginBox {
  width: 380px;
  height: 50px;
  border: hidden;
  border-radius: 4px;
}
.signInBtn {
  background-color: #84bd00;
  margin-top: 40px;
}

.signUpBtn {
  background-color: #876b3b;
}

#hrLineBox {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 15px;
}

#hrText {
  font-size: 12px;
  width: 40px;
}

.hrLine {
  width: 170px;
  height: 1px;
  border: none;
  background-color: black;
}
